<div class="container mt-5 w-100 h-100">
  <div class="supplier-head-container d-flex justify-content-between align-items-center">
    <h2 class="supplier-head-text">Supplier Management</h2>
    <div class="btn btn-supplier" routerLink="supplier-modal" routerLinkActive="active">+ Add Supplier</div>
  </div>

  <hr>
  <div class="main-container w-100 d-flex justify-content-center align-items-center">
    <div class="row w-100  d-flex flex-md-row-reverse justify-content-around align-items-center">

      <!-- card container -->
      <div class="card mt-5 col-lg-6 mb-5 p-3">

        <div class="card-body text-center p-2 rounded">
          <div class="search-container d-flex w-100 rounded position-relative">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Search supplier</mat-label>
              <input matInput type="text"  [(ngModel)]="filterTerm" >
            </mat-form-field>
            <button class="delete-btn position-absolute border-0" (click)="filterTerm = '' " >
            <img class="img-fluid"  src="../../../assets/images/clear.svg">
          </button>
          </div>

          <table *ngIf="supplierList.length > 0" class="table table-responsive mt-3 text-center">
            <thead class="pb-5">
              <tr>
                <th scope="col">Supplier No.</th>
                <th scope="col">Name</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Location</th>
                <th style="text-align: center;" scope="col">Icons</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let supplier of supplierList  | filter:filterTerm | paginate: {itemsPerPage: 4, currentPage: p};">
                <td class="pt-4">{{ supplier.supplier_no }}</td>
                <td class="pt-4">{{ supplier.name }}</td>
                <td class="pt-4">{{ supplier.phone_no }}</td>
                <td class="pt-4">{{ supplier.location}}</td>

                <!-- ICONS -->
                <td class="icons-container d-flex justify-content-end w-100 ">
                  <a class="px-3 py-3 " matTooltip=" Edit Supplier" [routerLink]="['supplier-modal' , supplier._id]">
                    <img class="icon img-fluid rounded " src="../../../assets/images/Edit-btn (1).svg"> </a>
                  <a (click)="deleteSupplier(supplier._id)" class="px-3 py-3" matTooltip=" Delete Supplier">
                    <img class="icon img-fluid rounded " src="../../../assets/images/delete-btn (1).svg"> </a>
                </td>
              </tr>
            </tbody>
          </table>

          <pagination-controls class="w-100" (pageChange) ="p = $event"></pagination-controls>
          <h5 style="text-align: start; margin-top: 10px;" *ngIf="supplierList.length == 0">No Supplier inside the
            container</h5>
        </div>
      </div>

      <!-- Illustration - Container -->
      <div class="illustration-container col-lg-6">
        <img class="img-fluid" src="../../../assets/images/1.svg" alt="">
      </div>
    </div>
    <!-- end of main container -->
  </div>


</div>