<div class="container w-100 d-flex flex-column  align-items-center w-100 ">

  <header>
    <link rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <h2 class="head-text text-left">Dashboard</h2>
    <hr class="w-100">

    <h1 class="animate__animated  animate__rollIn">Welcome {{userProfile['username'] }} !</h1>

    <main>
      <!-- <div class="container-fluid "> -->
      <div class="row gy-2 mb-3 d-flex justify-content-center align-items-center">
        <div class="row">
          <!-- employee -->
          <div class="card-body">
            <div class="employee-img">
              <img src="../../../assets/images/employee1.png">
              <h2>Employee</h2>
              <span>Number of employees</span>
            </div>
            <div class="container-quantity d-flex justify-content-center align-items-center">
              <span
                class="box-quantity d-flex flex-column align-items-center justify-content-center">{{employeeList}}</span>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="card-body">
            <div>
              <img src="../../../assets/images/supplier-icon.jpg">
              <h2>Supplier</h2>
              <span>Number of Suppliers</span>
            </div>
            <div class="container-quantity d-flex justify-content-center align-items-center">
              <span
                class="box-quantity d-flex flex-column align-items-center justify-content-center">{{supplierList}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card-body d-flex w-50">
            <div>
              <img src="../../../assets/images/inventory.png">
              <h2>Inventory</h2>
              <span>Number of Inventory</span>
            </div>
            <div class="box-quantity-container d-flex justify-content-end w-50">
              <div class="order-box d-flex flex-column align-items-center">
                <span>Purchased Products</span>
                <span class="box-quantity d-flex flex-column align-items-center justify-content-center"
                  style="margin-right: 10px;">{{orderName}}</span>
              </div>

              <div class="order-box d-flex flex-column align-items-center">
                <span>Sample Products</span>
                <span class="box-quantity d-flex flex-column align-items-center justify-content-center"
                  style="margin-right: 10px;">{{productList}}</span>
              </div>

            </div>

          </div>
        </div>
      </div>
    </main>
  </header>
</div>