@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
  margin: 0%;
  padding: 1rem;
}

.container {
  max-width: 95% !important;
  z-index: -100 !important;
  margin-left: 25px;
}

header {
  font-size: large;
}

.head-text {
  font-weight: 900;
  color: rgb(54, 54, 54);
  font-size: 3.7rem;
}

h2 {
  font-size: x-large;
}

hr {
  color: rgb(22 213 178);
  padding: 2px;
  margin: 20px 0 30px 0;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: xx-large;
}

.card-body {
  border-style: solid;
  border-color: rgb(163, 252, 222);
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  min-height: 20%;
  position: relative;
}

.row .card-body div:first-child span {
  font-size: 1.8rem;
  color: #918f8f;
  padding-top: 1rem;
}

.card-body div:first-child span {
  color: var(--text-grey);
}

img {
  height: 7rem;
  right: 80px;
}

.box-quantity {
  border: solid 2px rgb(163, 252, 222);
  background: #0abab5 !important;
  color: #ebebeb;
  width: 150px;
  max-width: 100%;
  height: 150px;
}

.order-box > span:nth-child(1) {
  color: #908f8f !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  margin-right: 12px !important;
}

@media screen and (max-width: 992px) {
  .row:nth-child(3) .card-body {
    flex-direction: column !important;
    width: 100% !important;
  }

  .box-quantity-container {
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {

  .container {
    margin-left: 0 !important;
  }

  main {
    width: 107% !important;
  }

  .head-text {
    font-size: 2.7rem !important;
  }

  h1{
      font-size: large !important;
  }

  hr {
    margin: 19px 0 30px 10px;
  }

  .card-body h2 {
    font-size: 1.8rem !important;
  }


  .label, .order-box > span:nth-child(1){
    font-size: 1.3rem !important;
  }
}


@media screen and (max-width: 400px) {

    *{
        padding: 1rem 0.56rem !important;
    }

    hr{
        padding: 3px !important;
    }

    .card-body{
    flex-wrap: wrap;
    align-items: center;
    }
    
    img{
        height: 6rem;

    }

    .card-body h2{
        font-size: 1.4rem !important;
    }

    .box-quantity {
        width: 88px !important;
        height: 77px !important;
        font-size: 1.2rem !important;
      }

    .label, .order-box > span:nth-child(1){
        font-size: 1rem !important;
      }



   

}
