<div class="container mt-5 w-100 h-100">
  <div class="product-head-container d-flex justify-content-between align-items-center">
    <h2 class="product-head-text">Inventory Management</h2>
    <button class="btn btn-product" routerLink="product-modal" routerLinkActive="active">
      + Add Sample Product
    </button>
  </div>

  <hr>

   <!-- search-container -->
  <div class="search-container d-flex w-100  position-relative">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Search Product</mat-label>
      <input matInput type="text" [(ngModel)]="filterTerm">
    </mat-form-field>
    <button class="delete-btn position-absolute border-0" (click)="filterTerm = '' ">
      <img class="img-fluid" src="../../../assets/images/clear.svg">
    </button>
  </div>


  <div class="main-container d-flex flex-wrap">

    <div class="row w-100 d-flex justify-content-around flex-wrap" style="margin: 0 !important;">

      <!-- card container -->

      <h1 style="text-align: center;" class="my-5" *ngIf="productList.length != 0">Sample Test Products</h1>
      <h2 style="text-align: center; color: grey;" class="my-5" *ngIf="productList.length == 0">There Are No Sample Products</h2>
      <div class="card w-100 d-flex flex-column p-3 "
        *ngFor="  let inventory of productList | filter:filterTerm; let i = index; "
        data-toggle="tooltip" data-placement="left" title="Click to edit the product">

        <span class="d-flex justify-content-between" data-toggle="tooltip" data-placement="top"
          title="Click to remove the product">
          <span>{{ i + 1}} </span>
          <a (click)="deleteProduct(inventory._id)">
            <img class="icon img-fluid " src="../../../../assets//images/Close-card.svg">
          </a>
        </span>

        <img [routerLink]="['product-modal',inventory._id]" class="box-img" style="cursor: pointer;"
          src="../../../../assets//images/IMS -BOX.png">


        <div class="row s-row d-flex flex-column align-items-center  w-100" style="margin:0">
          <div class="w-100 text-center">
            <label style="font-size: 2.1rem !important;">
              <span style="margin-right:10px">{{ inventory.product_name}} </span> |
              <span style="margin-left:10px; color: #17B5AA; font-weight: 800;"> {{ inventory.product_type }} </span>
            </label>
          </div>

          <div class="w-100 text-center mt-5" style="font-size: 1.8rem;">
            <span class="price-box rounded">$ {{ inventory.price }}.00</span>
            <span class="price-box rounded" style="margin-left:10px; color: #ffffff; font-weight: 400;"> {{
              inventory.quantity }} pc </span>

          </div>
          <!-- <button class="btn btn-edit mt-5" matTooltip=" Edit Product" [routerLink]="['product-modal',inventory._id]">
            Edit Product </button> -->
        </div>
      </div>



      <!-- ORDER -->
      <div class="second-header-text d-flex justify-content-center align-items-center my-5">
      <h1  style="margin:20px">
        Purchased Products from 
      </h1>

      <img style = "height: 100px;" class="img-fluid" src="../../../../assets/images/DapsLogo.svg">
    </div>


      <div class="card w-100 d-flex flex-column p-3" style="cursor:default !important;"
        *ngFor="  let inventory of  this._productService.orders | filter:filterTerm; let i = index">


          <span>{{ i + 1}} </span>


        <img  class="box-img  "  style="cursor:default !important;"
          src="../../../../assets//images/IMS -BOX.png">


        <div class=" row s-row d-flex flex-column align-items-center  w-100" style="margin:0">
          <div class="w-100 text-center">
            <label style="font-size: 2.1rem !important;">
              <span style="margin-right:10px" >{{ inventory.itemName}} </span> |
              <span style="margin-left:10px; color: #17B5AA; font-weight: 800;"> {{ inventory.type }} </span>
            </label>
          </div>

          <div class="w-100 text-center mt-5" style="font-size: 1.8rem;">
            <span class="price-box rounded">$ {{ inventory.price }}.00</span>
            <span class="price-box rounded" style="margin-left:10px; color: #ffffff; font-weight: 400;"> {{
              inventory.quantity }} pc </span>
          </div>

        </div>
      </div>

    </div>
  </div>


</div>