<div class="container">
    <div class="card" style="padding: 30px; background-color: #0ABAB5;" >
        <div class="button-container d-flex flex-column justify-content-center align-items-center">
            <button type="button" class="btn btn-login btn-info mt-3 d-block " [routerLink]="['/signin']" routerLinkActive="signin">
                Login
            </button>

            <button type="button" class="btn btn-register  btn-light mt-3 d-block" [routerLink]="['/signup']" routerLinkActive="signup">
                Register
            </button>
        </div>
    </div>

</div>