*{
    /* font-family: 'Poppins', sans-serif !important; */
    font-family: 'Montserrat', sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    
}

:root{
    --primary-color:#0ABAB5 !important;

}