<div class="profile">

    <h1 class="h3 text-dark pt-3 pl-3">User Details</h1>
    <hr>
  
    <table class="table table-bordered container">
      <tbody>
        <tr>
          <th scope="col">Username</th>
          <td>{{userProfile['username'] }}</td>
        </tr>
        <tr>
          <th scope="col">Position</th>
          <td>{{userProfile['position'] }}</td>
        </tr>
        <tr>
          <th scope="col">Email</th>
          <td>{{userProfile['email']}}</td>
        </tr>
        <tr>
          <th scope="col">Address</th>
          <td>{{userProfile['location'] }}</td>
        </tr>
        <tr>
          <th scope="col">Phone Number</th>
          <td>{{userProfile['phoneNo'] }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="logout()">Logout</button>
  </div>