<div class="container ">
<div class="row mt-5">
        <form [formGroup]="productform" class="needs-validation p-5 d-flex flex-column">

          <h1 class="mb-5 text-center">Create Product</h1>
            <div class="row mt-5">
                <div class="form-group col-md-6">
                    <label class="mb-4" for="product_name">Product Name</label>
                    <input type="text" name="product_name" class="form-control p-4" formControlName="product_name" 
                        placeholder="product name...">
                </div>

                <div class="form-group col-md-6">
                    <label class="mb-4" for="product_type">Product Type</label>
                    <select class="form-control p-4" name="product_type"  formControlName="product_type "  placeholder="ex. glass, cans, plastic">
                        <option *ngFor="let r of productOptions" [ngValue]="r">
                            {{r}}
                        </option>
                    </select>
                </div>


                <div class="form-group mb-3 col-md-12 mt-5">
                    <label class="mb-4" >Description</label>
                    <input type="text"  name="description" class="form-control p-4"  
                    formControlName="description" placeholder="description...">

                </div>

                <div class="form-group mb-3 col-md-4  mt-3">
                    <label class="mb-4"  >Quantity</label>
                    <input type="number" name="quantity" class="form-control p-4"  placeholder="quantity..."
                        required min="0" formControlName="quantity">

                </div>

                <div class="form-group mb-3 col-md-4  mt-3">
                    <label class="mb-4"  for="address">Price</label>
                    <input type="number" name="price" class="form-control p-4"  placeholder="price..."
                        required min="0" formControlName="price">

                </div>

                <div class="form-group col-md-4  mt-3" >
                    <label class="mb-4"  for="inputPassword4">Manufacture Name</label>
                    <input type="text" name="manufacture_name" class="form-control p-4" 
                    formControlName="manufacture_name"  placeholder="manufacture name... ">
                </div>

            </div>
                <button style="font-size: 1.8rem;" class="btn btn-primary btn-block w-100 mt-5 mb-1" type="submit" value="Register"  (click)="addProduct()">Add Product </button>
                <button style="font-size: 1.8rem;" class="btn btn-secondary mb-3 mt-1 w-100 " (click)="return()">Cancel</button>
            </form>
    </div>
</div>