*{
    font-family: 'Montserrat', sans-serif !important;
}


.btn{
    text-decoration: none;
    background-color: #0ABAB5 !important;
    color: #f8f8f8;
    font-size: 2.2rem;
}

.text-link{
    text-decoration: none;
    color: #0ABAB5 !important;
}

.text-link:hover{
    cursor: pointer;
    font-size: large;
    transition: .3s all;

}

label{
    font-size: 1.6rem;
}

input{
    font-size: 1.3rem;
}