*{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    text-decoration: none;
    background-color: #0ABAB5 !important;
    color: #f8f8f8;
}


.text-link{
    text-decoration: none;
    color: #0ABAB5 !important;
}

.text-link:hover{
    cursor: pointer;
    font-size: large;
    transition: .3s all;

}