/* You can add global styles to this file, and also import other style files */


/* Main fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~ngx-toastr/toastr';

/* Main color */
:root{
    --primary-color:#0ABAB5 !important;
    
}
html, body { height: 100%; 
    font-family: 'Montserrat', sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow: hidden;
    
}

#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
    z-index: 1000 !important;
  }
  .toast-success {
    background-color: #51A351 !important;
    z-index: 1000 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
    z-index: 1000 !important;
  }
  .toast-info {
    background-color: #0ABAB5 !important;
    z-index: 1000 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
    z-index: 1000 !important;
  }

  h1{
    font-family: "Montserrat", sans-serif !important; 
 }

  .form-control:focus {
    color: #373838 !important;
    border-color: #0abab5 !important;
    box-shadow: 0 0 0 0.25rem rgb(204 242 246 / 57%) !important;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:disabled, 
  .btn-primary:required, .btn-primary:enabled, .btn-primary:target{
    color: #fff;
    background: #0ABAB5 !important;
    border-color: #0ABAB5 !important;
    box-shadow: 0 0 0 0.25rem rgb(204 242 246 / 57%) !important;
}


