/* You can add global styles to this file, and also import other style files */


/* Main fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Main color */
:root{
    --primary-color:#0ABAB5 !important;
    
}
html, body { height: 100%; 
    font-family: 'Montserrat', sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    
}


